.pageOuterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activitiesContainer {
    width: 100%;
    max-width: 1248px;
    margin-top: 3rem;
    margin-bottom: 8rem;
    display: flex;
    gap: 3.6rem;
}

.iconsContainer {
    display: flex;
    width: 15.2rem;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 2rem;
    height: 4rem;
    border: 1px solid var(--strive-background-fill);
    transition: var(--strive-background-transition)
}

.iconContainer:hover {
    cursor: pointer;
    background-color: var(--strive-background-fill);
}

.activityInfo {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--strive-border-lightgray);
    width: 100%;
}

.activityHeader {
    background-color: #f7f7fa;
    border-bottom: 1px solid var(--strive-border-lightgray);
    font-size: 2rem;
    padding: 0 2rem;
    height: 4.3rem;
    display: flex;
    align-items: center;
}

.activityBody {
    display: flex;
}

.activityBody>div {
    width: 50%;
    padding: 2rem 1.5rem;
}

.activityBodyRight {
    border-left: 1px solid var(--strive-border-lightgray);
    display: flex;
    gap: 2.4rem;
}

#activityMainContent {
    display: flex;
    padding-bottom: 1rem;
}

#activityProfilePicture {
    min-width: 10rem;
    height: 10rem;
    width: 10rem;
    border-radius: 100%;
    overflow: hidden;
}

#activityProfilePicture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#activityMainContentInfo {
    padding: 0 1.5rem;
    font-size: 1.2rem;
    color: #666666;
    display: flex;
    flex-direction: column;
    gap: .15rem;
    width: auto;
}

#activityMainContentInfo :last-child {
    font-size: 1.4rem;
}

#title {
    color: black;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    word-wrap: break-word;
    letter-spacing: -0.28px;
}

#activityMainContentInfo .missingAttribute {
    margin-top: 1rem;
}

.missingAttribute {
    margin: 0;
    height: fit-content;
    width: fit-content;
    padding: .2rem .9rem;
    background-color: var(--strive-background-fill);
    font-weight: 700;
}

.missingAttribute:hover {
    border-color: #e1e1eb;
    background-color: #e1e1eb;
}

#privateNotes {
    padding-top: .5rem;
    word-wrap: break-word;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-top: 1px solid var(--strive-border-lightgray)
}

#privateNotes button {
    margin-top: 1.5rem;
}

.activityBodyRightContent p:first-of-type {
    font-size: 2.8rem;
    font-weight: 300;
}

.activityBodyRightContent>p {
    font-size: 1.2rem;
}

#privateNotesTitle {
    font-size: 1rem;
    color: #666666;
}

#userName:hover {
    color: #005b83;
    text-decoration: underline;
}