.pageOuterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activitiesContainer {
    width: 100%;
    max-width: 1248px;
    margin-top: 3rem;
    margin-bottom: 8rem;
    display: flex;
    gap: 3.6rem;
}

.iconsContainer {
    display: flex;
    width: 15.2rem;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 2rem;
    height: 4rem;
    border: 1px solid #f0f0f5;
}

.iconContainer:hover {
    cursor: pointer;
    background-color: #f0f0f5;
}