.picturesContainer {
    height: 51rem;
    position: relative;
}

#banner {
    height: 82%;
}

#banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#clubImage {
    position: absolute;
    bottom: 0;
    left: 1.5%;
    min-height: 30%;
}

#clubImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#clubImage p {
    font-size: 1.3rem;
    text-align: center;
    font-weight: 400;
}

#clubImage label {
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: .4rem;
    max-height: 12.4rem;
}

#clubImage label div {
    position: absolute;
    bottom: 0;
    right: -.2rem;
}

#cameraIcon {
    position: absolute;
    border: 3px solid var(--strive-international-orange);
    padding: 8px 16px;
    font-size: 4rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--strive-international-orange);
}

#cameraIcon:hover {
    background-color: var(--strive-international-orange);
    color: white;
    cursor: pointer;
}

#cameraPlus {
    position: absolute;
    font-size: 2rem;
    font-weight: bolder;
    top: 0;
    right: 0;
    transform: translate(+51%, -50%);
    background-color: #f5f5f5;
    padding: 4px;
}


#cameraIcon:hover #cameraPlus {
    display: none;
}