.outerContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mainContainer {
    max-width: 1248px;
    width: 100%;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 8rem;
}

.activityTabs {
    width: 15%;
}

.activityFormContainer {
    width: 85%;
}

#title {
    font-size: 3.4rem;
    margin-bottom: .9rem;
    font-weight: 900;
}

.section1 {
    display: flex;
    gap: 3.6rem;
    padding-bottom: 3.6rem;
    border-bottom: 1px solid lightgray;
}

.contentSection {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.contentSection label {
    font-size: 1.2rem;
    margin-bottom: .5rem;
    user-select: none;
}

.sectionInnerContent {
    display: grid;
    width: 23.725rem;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    align-items: center;
    font-size: 1.4rem;
}

.sectionInnerContent input {
    width: 100%;
}

#date {
    padding: 0;
    padding-left: 1rem;
}

.sectionInnerContent>* {
    display: flex;
    align-items: center;
    min-height: 3.4rem;
    padding: .6rem 3rem .6rem 1rem;
    border: 1px solid lightgray;
    border-right: none;
    position: relative;
}

.sectionInnerContent>*:not(:first-child) {
    border-left: 1px solid lightgray
}

.sectionInnerContent>*:last-child {
    border-right: 1px solid lightgray
}

.sectionInnerContent>*:focus-within {
    border-color: #007FB6;
}

.sectionInnerContent>input {
    padding: .6rem 1rem;
}

#dropDown {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 0 .4rem .4rem 0;
    background-color: white;
}

#dropDown.dropDownActive {
    border-left: 1px solid #007FB6;
    border-color: #007FB6;
    background-color: var(--strive-border-lightgray);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#dropDown:hover {
    cursor: pointer;
    background-color: var(--strive-border-lightgray);
}

#dropDown::after {
    font-family: "Font Awesome 5 Free";
    height: fit-content;
    font-weight: 900;
    content: "\f0d7";
    display: block;
    position: absolute;
    right: 15px;
    top: 30%;
    margin-top: -2px;
}

.dropDownOptions {
    position: absolute;
    width: calc(100% + 2px);
    background-color: white;
    left: -1px;
    top: 100%;
    border: 1px solid #007FB6;
    border-top: none;
    display: flex;
    flex-direction: column;

    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
    z-index: 2;
}

.dropDownOptions li {
    padding: .9rem 1rem;
}

.dropDownOptions li:hover {
    background-color: var(--strive-border-lightgray);
}

#hours::after {
    content: "hrs";
}

#minutes::after {
    content: "min";
}

#seconds::after {
    content: "sec";
}

#hours::after,
#minutes::after,
#seconds::after {
    position: absolute;
    display: flex;
    height: 100%;
    width: 35%;
    align-items: center;
    right: 0;
    justify-content: center;
    color: lightgray
}

#hours input,
#minutes input,
#seconds input {
    appearance: textfield;
    text-align: right;
}

#hours input:hover,
#minutes input:hover,
#seconds input:hover,
#hours input:focus,
#minutes input:focus,
#seconds input:focus {
    appearance: none;
}


.section2 {
    display: flex;
    gap: 3.6rem;
    padding: 3.6rem 0;
    border-bottom: 1px solid lightgray;
    flex-wrap: wrap;
}

#sportsDropDown {
    max-height: 44.5rem;
    overflow-y: auto;
}

.fullWidthSection {
    width: 100%;
    display: flex;
    gap: 3.6rem;
}

.fullWidthSection .contentSection {
    width: 51.05rem
}

.fullWidthSection .contentSection .sectionInnerContent {
    width: 100%;
}

#description {
    height: 10.8rem;
    resize: none;
    overflow-y: auto;
}

.section3 {
    display: flex;
    gap: 3.6rem;
    padding: 3.6rem 0;
    border-bottom: 1px solid lightgray;
    flex-wrap: wrap;
}

.extertionSection {
    display: flex;
    gap: 3.6rem;
    font-size: 1.3rem
}

#extertionSlider {
    display: flex;
    flex-direction: column;
    border: none;
    width: 50%;
    margin-top: 1rem;
}

#extertionSlider :first-child {
    margin-bottom: 1rem;
    position: relative;
}


/*
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(254, 170, 130, 1) 69%, rgba(252, 82, 0, 1) 100%);
*/
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7.5px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, white 20%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-runnable-track,
.slider::-moz-range-track {
    height: 7.5px;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 12px;
    height: 20px;
    background: white;
    cursor: pointer;
    border-radius: .2rem;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 20px;
    background: white;
    cursor: pointer;
    border-radius: .2rem;
    border: 1px solid gray
}

.sliderStep1 {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, white 10%);
}

.sliderStep2 {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 236, 228, 1) 10%, rgba(255, 218, 201, 1) 10%, white 20%);
}

.sliderStep3 {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 236, 228, 1) 10%, rgba(255, 218, 201, 1) 20%, white 30%);
}

.sliderStep4 {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 236, 228, 1) 10%, rgba(255, 218, 201, 1) 20%, rgba(255, 204, 180, 1) 30%, white 40%);
}

.sliderStep5 {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 236, 228, 1) 10%, rgba(255, 218, 201, 1) 20%, rgba(255, 204, 180, 1) 30%, rgba(255, 192, 163, 1) 40%, white 50%);
}

.sliderStep6 {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 236, 228, 1) 10%, rgba(255, 218, 201, 1) 20%, rgba(255, 204, 180, 1) 30%, rgba(255, 192, 163, 1) 40%, rgba(254, 170, 130, 1) 50%, white 60%);
}

.sliderStep7 {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 236, 228, 1) 10%, rgba(255, 218, 201, 1) 20%, rgba(255, 204, 180, 1) 30%, rgba(255, 192, 163, 1) 40%, rgba(254, 170, 130, 1) 50%, rgba(254, 158, 112, 1) 60%, white 70%);
}

.sliderStep8 {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 236, 228, 1) 10%, rgba(255, 218, 201, 1) 20%, rgba(255, 204, 180, 1) 30%, rgba(255, 192, 163, 1) 40%, rgba(254, 170, 130, 1) 50%, rgba(254, 158, 112, 1) 60%, rgba(253, 143, 90, 1) 70%, white 80%);

}

.sliderStep9 {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 236, 228, 1) 10%, rgba(255, 218, 201, 1) 20%, rgba(255, 204, 180, 1) 30%, rgba(255, 192, 163, 1) 40%, rgba(254, 170, 130, 1) 50%, rgba(254, 158, 112, 1) 60%, rgba(253, 143, 90, 1) 70%, rgba(253, 127, 67, 1) 80%, white 90%);
}

.sliderStep10 {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 236, 228, 1) 10%, rgba(255, 218, 201, 1) 20%, rgba(255, 204, 180, 1) 30%, rgba(255, 192, 163, 1) 40%, rgba(254, 170, 130, 1) 50%, rgba(254, 158, 112, 1) 60%, rgba(253, 143, 90, 1) 70%, rgba(253, 127, 67, 1) 80%, rgba(252, 101, 29, 1) 90%, rgba(252, 82, 0, 1) 100%);
}

#pExtertion {
    display: flex;
    flex-direction: column;
    border: none;
    text-align: left;
    justify-content: start;
    width: 50%;
}

#pExtertion :first-child {
    margin-bottom: 1rem;
    font-weight: 700;
}

#pExtertion :last-child {
    font-size: 1.1rem;
}