#root {
    --strava-international-orange: #fc5200;
    --strava-cream-background: #f9f8f5;
    --strava-border-lightgray: #dfdfe8;
    background-color: var(--strava-cream-background);
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

button {
    line-height: 2rem;
    font-weight: 700;
    font-size: 1.5rem;
    width: 100%;
    height: 4.8rem;
    padding: 1.2rem 1rem;
    margin-bottom: 1rem;
    border-radius: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #f9f8f5;
}