.outerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContent {
    display: flex;
    gap: 3.6rem;
    max-width: 1248px;
    width: 100%;
    position: relative;
}

.mainContent>div {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    margin-top: 6.4rem;
    margin-bottom: 2.4rem;
    box-shadow: 0px 8px 24px rgba(13, 13, 18, 0.04);
    border-radius: .4rem;
}

.mainSides {
    width: 22.5%;
    background-color: white;
    position: sticky;
    top: 6.4rem;
}

.mainMiddle {
    width: 55%;
    background-color: rgba(115, 239, 255, 0.175);
    height: 10000px;
    position: sticky;
    top: 0;
}

#leftSide {
    padding-top: 2.4rem;
    height: fit-content;
}

#rightSide {
    height: fit-content;
    background-color: var(--strive-body-fill);
    box-shadow: none;
}

#profileImage {
    height: 7rem;
    width: 7rem;
    overflow: hidden;
    position: absolute;
    left: calc(50% - 3.5rem);
    top: -35px;
    border-radius: 100%;
}

#profileImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#profileInformation {
    display: flex;
    align-items: center;
    padding: 1.6rem;
    flex-direction: column;
    border-bottom: 1px solid var(--strive-border-lightgray);
}

#userName {
    font-size: 2.2rem;
    font-weight: 800;
    margin-top: 1.2rem;
    margin-bottom: 1.6rem;
}

#profileInformationStats {
    width: 100%;
    display: flex;
    justify-content: center;
}

.statContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statContainer :first-child {
    font-size: 1.2rem;
}

.statContainer :last-child {
    font-size: 2rem;
}

#latestActivity {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    font-size: 1.2rem;
}

#latestActivity :first-child {
    margin-bottom: .8rem;
}

#latestActivity :last-child {
    font-size: 1.6rem;
    font-weight: 700;
    transition: color 0.1s linear;
    width: fit-content;
}

#latestActivity :last-child:hover {
    color: var(--strive-international-orange)
}

#clubSection {
    display: flex;
    flex-direction: column;
}

.homePageTitle {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    font-weight: 800;
}

#clubContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: .9rem;
}

.clubImage {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: .4rem;
    overflow: hidden;
}

.clubImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.rightSideButton {
    font-size: 1.2rem;
    font-weight: 800;
    padding: .6rem 1.6rem;
    margin: 0;
    height: fit-content;
    background-color: white;
    width: fit-content;
}

.rightSideButton:hover {
    background-color: #e6e6e6;
}