.outerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#navBarContainer {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.mainContent {
    display: flex;
    gap: 3.6rem;
    max-width: 1248px;
    width: 100%;
    position: relative;
}

.mainContent>div {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    margin-top: 6.4rem;
    margin-bottom: 2.4rem;
    border-radius: .4rem;
}

.mainSides {
    width: 24.5%;
    position: sticky;
    top: 11.9rem;
}

.mainMiddle {
    width: 51%;
}

#leftSide {
    background-color: white;
    padding-top: 2.4rem;
    height: fit-content;
    box-shadow: 0px 8px 24px rgba(13, 13, 18, 0.04);
}

#rightSide {
    height: fit-content;
    background-color: var(--strive-body-fill);
    box-shadow: none;
}

#profileImage {
    height: 7rem;
    width: 7rem;
    overflow: hidden;
    position: absolute;
    left: calc(50% - 3.5rem);
    top: -35px;
    border-radius: 100%;
}

#profileImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#profileInformation {
    display: flex;
    align-items: center;
    padding: 1.6rem;
    flex-direction: column;
    border-bottom: 1px solid var(--strive-border-lightgray);
}

#userName {
    font-size: 2.2rem;
    font-weight: 800;
    margin-top: 1.2rem;
    margin-bottom: 1.6rem;
    width: fit-content;
}

#userName:hover {
    color: #005b83;
}

#profileInformationStats {
    width: 100%;
    display: flex;
    justify-content: center;
}

.statContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
}

.statContainer> :nth-child(2):hover {
    cursor: pointer;
    color: var(--strive-hyperlink-darkblue);
}

#profileInformationStats> :first-child {
    border-right: 1px solid var(--strive-border-lightgray);
}

#profileInformationStats> :last-child {
    border-left: 1px solid var(--strive-border-lightgray)
}

.statContainer :first-child {
    font-size: 1.2rem;
}

.statContainer :last-child {
    font-size: 2rem;
}

#latestActivity {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    font-size: 1.2rem;
    word-break: break-word;
}

#latestActivity> :first-child {
    margin-bottom: .8rem;
}

#latestActivity> :last-child {
    font-size: 1.6rem;
    font-weight: 700;
    transition: color 0.1s linear;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-bottom: .8rem;
    display: flex;
    flex-wrap: wrap;
}

#latestActivity>:last-child:hover {
    color: var(--strive-international-orange)
}

#clubSection {
    display: flex;
    flex-direction: column;
}

.homePageTitle {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    font-weight: 800;
}

#clubContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: .9rem;
}



.clubImage,
.clubWrapper {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: .4rem;
    position: relative;
    overflow: hidden;
}

.clubWrapper {
    overflow: visible;
}

.clubImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.clubImage:hover {
    cursor: pointer;
}

.clubTitle {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 2.4rem;
    bottom: 110%;
    z-index: 5;
    transform: translate(-50%, 0);
    padding: .2rem .8rem;
    border-radius: .4rem;
    background-color: black;
    color: white;
    font-size: 1.1rem;
    line-height: 1.8rem;
    width: max-content;
    max-width: 400%;
    opacity: 0;
    animation: clubTitle 400ms ease-in-out forwards;
}

@keyframes clubTitle {
    from {
        opacity: 0;
    }

    to {
        opacity: .8;
    }
}


.rightSideButton {
    font-size: 1.2rem;
    font-weight: 800;
    padding: .6rem 1.6rem;
    margin: 0;
    height: fit-content;
    background-color: white;
    width: fit-content;
}

.rightSideButton:hover {
    background-color: #e6e6e6;
}

#latestActivity #timeAgo,
#latestActivity #timeAgo * {
    display: flex;
    font-weight: 400;
    height: 100%;
}

#latestActivity #timeAgo>p {
    font-weight: 100;
    padding: 0 .2rem;
}

#activityCards {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background-color: var(--strive-body-fill);
}

.activityCard {
    display: flex;
    box-shadow: 0px 8px 24px rgba(13, 13, 18, 0.04);
    border-radius: .4rem;
    background-color: white;
}

#titleTriangle {
    position: absolute;
    background-color: black;
    width: 1rem;
    bottom: -2px;
    z-index: -1;
    height: 1rem;
    rotate: 90;
    left: calc(50% - .5rem);
    transform: translate(-50%, 0);
    transform: rotate(45deg);
}